<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
    <li class="breadcrumb-item"><a href="<%= user_csvs_path %>">CSVs</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @csv.original_filename %></li>
  </ol>
</nav>

<div class="row">
  <div class="col-12 pt-5 pb-3">
    <h1><%= @csv.original_filename %></h1>
  </div>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>

          <% @csv.data.first.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @csv.data.drop(1).each_with_index do |row, i| %>
          <tr class="csv-entry-row">
            <td><%= i+1 %></td>

            <% row.each do |r| %>
              <td><%= r %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

